:root {
    --bg: #141414;
    --card-bg: #1f1f1f;
    --button-bg: #333;
    --accent: #c5f82a
}

body {
    background-color: var(--bg);
    font-family: "Inter", Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0
}

.container {
    max-width: 400px;
    height: auto;
    margin: 0;
    background-color: var(--card-bg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.profile-pic {
    width: 6em;
    border-radius: 50%;
    margin-top: 2.5em;
}

.my-info {
    text-align: center;
    margin: 0;
}
.name {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin: 1em 0 0.3em 0;
}

.location {
    margin: 0;
    color: var(--accent);
    font-weight: 700;
}

.bio {
    margin-top: 2.5em;
    color: #6d6d6d;
    padding: 0 2em;
}

.socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
}

.socials > a {
    display: block;
    margin: 0 auto;
    width: 75%;
    background-color: var(--button-bg);
    text-align: center;
    border-radius: 5px;
    padding: 1em 0;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    color: inherit;
}


.socials a :active {
  background-color: var(--accent);
  color: black;
  transform: scale(1.03);
}

@media (hover: hover) and (pointer: fine) {
.socials *:hover {
    background-color: var(--accent);
    color: black;
    transform: scale(1.05);
}
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}